
  

<%# <% if @markers.present?%> %>
  <%# <%= @markers.each do |marker|%> %>
    <%# <div class='name'> %>
      <%# <%= marker.name + "CAD" + marker.name_cad %> %>
    <%# </div> %>
    <%# <div class='marker'> %>
      <%# <%= marker.exist_id.name + marker.type_id.name %> %>
    <%# </div> %>
    <%# <% marker.images.each do |image| %> %>
      <%# <%= image_tag image, class: 'images' %> %>
    <%# <% end %> %>
  <%# <% end %> %>
<%# <% end %> %>