/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* { 
  box-sizing: border-box; 
}

/* #header */
header {
  border-bottom: 3px solid #D8D8D8;
  background-color: lightgreen;
  height: 60px;
}

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.root{
  padding: 17px 50px;  
}

.root a{
  color: black;
  text-decoration: none;
}

.user_info a{
  color: black;
  text-decoration: none;
  margin-right: 20px;
}



.content{
  background: lightgreen;
  position: absolute;
  width: 100vw;
  padding: 0 50px;
}

/* site_index */

.site_content{
  display: flex;
  justify-content: space-between;
}

.new_site{
  width: 130px;
  height: 25px;
  margin:20px 0;
  color: black;
  text-align: center;
  border: 1px solid black;
  background-color: lightgray;
}
.new_site a{
  text-decoration: none;
  color: black;
}


.site_lists{
  height: 80vh;
  width: 42vw;
  overflow: scroll;
  background-color: white;
  margin-bottom: 30px;
  border: 2px solid black;
}

.list_titles{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px 0;
}


.site_list{
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;
  align-items: center;
}

.site_id{
width: 50px;
text-align: center;
}

.site_title{
  width: 150px;
  text-align: center;
}

.site_title a{
  text-decoration: none;
  color: blue;
}

.site_edit a{
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: lightgray;
}

.new_message{
  width: 130px;
  height: 25px;
  margin:20px 0;
  color: black;
  text-align: center;
}

.new_message_lists{
  height: 40vh;
  width: 42vw;
  overflow: scroll;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid black;
}

.site_message_list{
  border-bottom: 1px solid black;
  height: 50px;
  display: flex;
  align-items: center;
}

.today_schedules{
  height: 35vh;
  width: 42vw;
  overflow: scroll;
  background-color: white;
  margin-bottom: 20px;
  border: 2px solid black;
}

.schedule_title{
  margin: 10px 0 5px;
}

.today_list{
  border-bottom: 1px solid black;
  height: 35px;
  text-align: center;
  padding-top: 5px;
}


/* users_index */
.users_btn{
  display: flex;
  justify-content: space-between;
}

.user_edit{
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
  color: black;
  text-align: center;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_edit a{
  text-decoration: none;
  color: black;
}
.make_events{
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.make_events a{
  text-decoration: none;
  color: black;
}

.calendar_area{
  background-color: white;
  padding-bottom: 20px;
  margin: 20px;
}

/* sites_new */

.field{
  margin-bottom: 10px;
}

.actions{
  margin-bottom: 10px;
}

/* error_message */

.error-message{
  color: red;
  margin: 10px;
}


/* edit_business */
.business_entire{
  display: flex;
}

.business_details{
  width: 50vw;
}
.board{
  width: 50vw;
}

.comments{
  max-height: 250px;
  width: 400px;
  margin: 30px 0;
  overflow: scroll;
  background-color: white;
}
.comment,
.event{
  word-break: break-all;
}

.events{
  max-height: 250px;
  width: 400px;
  background-color: white;
  overflow: scroll;
  margin-bottom: 20px;
}

/* site_show */
.title{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.business_new{
  margin: 15px 0;
}

.business_new a{
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: lightgray;
  text-decoration: none;
}

.business_lists{
  background-color: white;
  border: 1px solid black;
  max-height: 200px;
  overflow: scroll;
  margin-bottom: 20px;
}

.business_list{
  display: flex;
  border-bottom: 1px solid black;
}

.business_name{
  width: 150px;
  margin-left: 10px;
}

.business_content{
  width: 300px;
  margin-left: 10px;
}

.business_content a{
  text-decoration: none;
  color: blue;
}

.person{
width: 100px;
}

.business_delete{
  margin: 0 10px;
}

.business_delete a{
  color: black;
  padding: 0 5px;
  border: 1px solid black;
  background-color: lightgray;
  text-decoration: none;
}

.neighbor_lists{
  background-color: white;
  border: 1px solid black;
  max-height: 200px;
  white-space:nowrap;
  overflow: scroll;
  margin-bottom: 20px;
}

.neighbor_list{
  display: flex;
  border-bottom: 1px solid black;
}

.neighbor_lot_number{
  width: 120px;
  margin-left: 10px;
}

.neighbor_name{
  width: 150px;
}

.neighbor_name a{
  text-decoration: none;
  color: blue;
}

.neighbor_delete{
  margin: 0 10px;
}

.neighbor_delete a{
  color: black;
  padding: 0 5px;
  border: 1px solid black;
  background-color: lightgray;
  text-decoration: none;
}

.neighbor_status{
  width: 120px;
}

.marker_entire{
  display: flex;
}

.marker_lists{
background-color: white;
border: 1px solid black;
max-height: 400px;
width: 350px;
overflow: scroll;
margin-bottom: 20px;
}

.marker_list{
  border-bottom: 1px solid black;
  padding: 10px;
}

.marker_list a{
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: lightgray;
  text-decoration: none;
}

.marker_name{
  display: flex;
}

.marker_name p{
  margin-right: 20px;
}

.marker_image{
  margin: 10px 10px 0 0;
}

.marker_fields{
  margin-left: 50px;
}

.image_select{
  margin-bottom: 20px;
}

.neighbor_forms{
  display: flex;
}

.neighbor_left{
  height: 500px;
  margin-right: 100px;
}

/* sign_in */
.sign_in{
display: flex;
}

.sign_in_right{
  margin-left: 50px;
}